<mat-form-field appearance="fill">
  <mat-label>Weather Station</mat-label>
  <mat-select [(ngModel)]="selectedStation" (change)=select()>
    <mat-option *ngFor="let station of stationList; let i = index" [value]="station" >{{ displayStationList[i] }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
<mat-label>Weather Type</mat-label>
<mat-select [(ngModel)]="selectedWeather" (change)=select()>
  <mat-option *ngFor="let weather of weatherList; let i = index" [value]="weather" >{{ displayWeatherList[i] }}</mat-option>
</mat-select>
</mat-form-field>

<button (click)="submit()">
Submit
</button>

<div *ngIf = "show">
<p>
{{ selectedStation }}
</p>

<p>
{{ selectedWeather }}
</p>
</div>

<div>
  <p *ngFor="let point of dataList"> {{ point }}</p>
  <p>{{ SelectedData }}</p>
</div>