<mat-form-field class="dropdown" appearance="fill">
    <mat-label>Counties</mat-label>
    <mat-select [(ngModel)]="selectedCounty" (change)=select()>
      <mat-option *ngFor="let county of countiesList" [value]="county" >{{ county }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="dropdown" appearance="fill">
  <mat-label>Weather Type</mat-label>
  <mat-select [(ngModel)]="selectedWeather" (change)=select()>
    <mat-option *ngFor="let weather of weatherList" [value]="weather" >{{ weather }}</mat-option>
  </mat-select>
</mat-form-field>

<button class="button" (click)="submit()">
  Submit
</button>

<div *ngIf = "show">
  <p>
  {{ selectedCounty }}
</p>

<p>
  {{ selectedWeather }}
</p>
</div>

