<div class="graph-card-holder">
  <mat-card class="graph-card">
    <mat-card-content>
      <p>
        Input the county you want to view the selected weather type, then click submit and your weather data will be out shortly!!
      </p>
      <app-dropdown-graph (emitter)=select($event)></app-dropdown-graph>
      
    </mat-card-content>
    {{ display }} data for {{ station }} weather station
    
    <div>
      <div style="width: 100%;">
        <canvas
          baseChart
          [chartType]="'line'"
          [legend]="true"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
    
        >
        </canvas>
      </div>
    </div>
  </mat-card>
</div>


<div>
  <p>
    Station: {{ station }}
    Weather: {{ weather }}
  </p>
</div>

<div>
  <table>
    <tr>
      <th>Date</th>
      <th>{{ display }}</th>
    </tr>
    <tr *ngFor='let data of dataList'>
      <th>{{ data.name }}</th>
      <th>{{ data.value }}</th>
    </tr>
  </table>
</div>
