<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Graph of Weather</mat-card-title>
      <mat-card-subtitle
        >Scrub levels over time after using Python</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src=""
    />
    <mat-card-content>
      <p>
        Python is like math and math is for scrubs!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <app-dropdown></app-dropdown>
