<div class="ndweather-card-holder">
  <mat-card class="ndweather-card">
    <mat-card-header>
      <mat-card-title>Nodak Weather</mat-card-title>
      <mat-card-subtitle>A Weather Application Built For The ND Resident</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/NDMap.jpg" alt="Photo">
    <mat-card-content>
      <p>
        Welcome to Nodak Weather! This website holds archived weather data for the state of North Dakota.
        It is in Version 2.0 with the ability to view data in a graph or table. All of the weather can 
        be selected by region and type. In future releases we will add the ability to login to keep weather 
        data as well as an option to become verrified and upload your own weather data.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="team-title-holder">
  <h1 class="team-title">Our Team:</h1>
</div>

<div class="team-card-holder">

  <mat-card class="team-card">
    <mat-card-header>
      <div mat-card-avatar class="team-header-image"></div>
      <mat-card-title>Tommy Jackson</mat-card-title>
      <mat-card-subtitle>Junior Computer Science, NDSU</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/tommy.jpg" alt="Photo of our web developer">
    <mat-card-content>
      <p>
        My name is Tommy Jackson and I was one of the developer on this project. 
        I hope that this website is easy to use and intuitive and helps all our users
        view and understand weather data across the state of North Dakota.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="team-card">
    <mat-card-header>
      <div mat-card-avatar class="team-header-image"></div>
      <mat-card-title>Troy Timmerman</mat-card-title>
      <mat-card-subtitle>Junior Computer Science, NDSU</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/swagger.jpg" alt="Troy"
    />
    <mat-card-content>
      <p>
        My name is Troy Timmerman and I was one of the developers on this project.
        I hope that this website will one day become popular and will be used throughout North Dakota.
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="team-card">
    <mat-card-header>
      <div mat-card-avatar class="team-header-image"></div>
      <mat-card-title>Vincent Casey</mat-card-title>
      <mat-card-subtitle>Junior Computer Science and Mathematics, NDSU</mat-card-subtitle>
    </mat-card-header>
    
    <img
      mat-card-image
      src="assets/vincent.jpg" alt="Photo of Vincent Casey, the most humble"
    />
    <mat-card-content>
      <p>
        My name is Vincent Casey and I was one of the developers of this project, I helped with both the angular and the backend namely integration. I hope this site caters to its audiance in a well suited and easy-to-use fashion. 
      </p>
    </mat-card-content>
  </mat-card>

</div>
