<div>
  <h1>Welcome to Nodak Weather!!!</h1>
</div>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tommy Jackson</mat-card-title>
      <mat-card-subtitle>Junior Computer Science, NDSU</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/tommy.jpg" alt="Photo of our web developer">
    <mat-card-content>
      <p>
        My name is Tommy Jackson and I was the lead angular developer on this project. 
        I hope that this website is easy to use and intuitive and helps all our users
        view and understand weather data across the state of North Dakota.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Troy Timmerman</mat-card-title>
      <mat-card-subtitle>Junior Computer Science, NDSU</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src=""
    />
    <mat-card-content>
      <p>
        add your image and bio
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Vincent Casey</mat-card-title>
      <mat-card-subtitle>Junior Computer Science, NDSU</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src=""
    />
    <mat-card-content>
      <p>
        add your image and bio
      </p>
    </mat-card-content>
  </mat-card>

  
