.ndweather-card-holder{
  display:flex;

  flex-wrap: wrap;

  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}

.ndweather-card {
  background-color: rgb(255, 255, 255);
  max-width: 50rem;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
  border-radius: 1rem;

  font-family: 'Courier Prime', monospace;
}

.team-card-holder{
  display:flex;

  flex-wrap: wrap;

  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}

.team-card {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  max-width: 20rem;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
  border-radius: 0.6rem;

  font-family: 'Courier Prime', monospace;
}

.team-header-image {
  background-image: url('../../../assets/bison.jpg');
  background-size:contain;
}

.team-title-holder{
  align-content: center;
}

.team-title{
  color:rgb(255, 255, 255);
  text-align: center;
  max-width: 100%;
  padding: 2rem;
  margin: 5rem;
  font-size:4rem;
  font-family: 'Vollkorn', serif;
}

img {
  border-radius: 0.4rem;
}

