<div class="query-card-holder">
    <mat-card class="query-card">
      <mat-card-content>
        <p>
          Input the county you want to view the selected weather type, then click submit and your weather data will be out shortly!!
        </p>
        <app-dropdown (emitter)=select($event)></app-dropdown><br><br>
        <p *ngIf='show()'>
          {{ display }} data for {{ station }} weather station
        </p><br><br>
        <div class = "data-table-holder" *ngIf='show()'>
          <table class = "data-table">    
            <tr class = "data-table-titles">
              <th class = "data-table-title">Date</th>
              <th class = "data-table-title">{{ display }}</th>
            </tr><br>
            <tr class = "data-table-contents" *ngFor='let data of dataList'>
              <th class = "data-table-content">{{ data.name }}</th>
              <th class = "data-table-content">{{ data.value }}</th>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  