<div class="graph-card-holder">
    <mat-card class="graph-card">
      <mat-card-content>
        <p>
          Input the county you want to view the selected weather type, then click submit and your weather data will be out shortly!!
        </p>
        <app-dropdown (emitter)=select($event)></app-dropdown>
      </mat-card-content>
    </mat-card>
  </div>

  <p>
    {{ station }} and {{ weather }}
  </p>

  <div>
    <ul>
      <li *ngFor = 'let data of dataList'> Name: {{ data.name }} && Value: {{ data.value }}</li>
    </ul>
  </div>
  