<div class="page">
  <div class="menu-holder">

    <div class="menu-title-holder">
      
      <h1 class="menu-title"><i class="fas fa-cloud-sun-rain" style="font-size:6rem;"></i> Nodak Weather</h1>
      <p class="menu-title-subtext">
        North Dakota's #1 website for retreving archieved weather data!
      </p>
    </div>

    <div class="menu-button-holder">
      <button class = "menu-button" (click)="homeClick()"><i class="fas fa-home" style="font-size:2rem;"></i></button>
      <button class = "menu-button" (click)="graphClick()"><i class="fas fa-chart-line" style="font-size:2rem;"></i></button>
      <button class = "menu-button" (click)="queryClick()"><i class="fas fa-table" style="font-size:2rem;"></i></button>
      
    </div>

  </div>

  <div *ngIf="home">
    <app-home-details></app-home-details>
  </div>

  <div *ngIf="graph">
    <app-graph></app-graph>
  </div>

  <div *ngIf="query">
    <app-query></app-query>
  </div>
  
</div>