<div class="page">
  <div class="menu-holder">

    <div class="menu-title-holder">
      <h1 class="menu-title">Nodak Weather</h1>
      <p class="menu-title-subtext">
        North Dakota's Number 1 website for retreving archieved weather data!
      </p>
    </div>

    <div class="menu-button-holder">
      <button class = "menu-button" (click)="homeClick()">Home</button>
      <button class = "menu-button" (click)="graphClick()">Graph</button>
      <button class = "menu-button" (click)="queryClick()">Query</button>
    </div>

  </div>

  <div *ngIf="home">
    <app-home-details></app-home-details>
  </div>

  <div *ngIf="graph">
    <app-graph></app-graph>
  </div>

  <div *ngIf="query">
    <app-query></app-query>
  </div>
  
</div>